# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
**/out

# Mac
.DS_Store

# Maven
**/log/
**/target
**/*.log
**/tmp
**/.tmp
**/bin/**
**/overlays

# JRebel
**/*.rebel.xml.bak
**/rebel.xml
/fssc-erbp/fssc-erbp-core/.rebel.xml.bak
/fssc-erbp/src/main/resources/rebel.xml

/fssc-erbp/.rebel.xml.bak
